
<header>
    <div class='logo'>Logo</div>
  <nav class='menu'>
    <ul>
      <li class='tutorPortal'><a href='/tutor-create'>Tutor</a></li>
      <li class='studentPortal'><a href="/home">Student</a></li>
      <li class='profilePic tooltip'><img src="" alt="profile_pic">
      </li>
      <li class='profile-details'><div class="profileContainer">
        <div class="profileBrief">
          <div class='userBio'>
            <section class='proEdit'><a href="/profile" class='anchorProedit'>
            <div class='disName'>hello</div>
            <div class='e-mail'>E-mail :</div>
            </a>
            <!-- <div class='userId'>User Id :</div> -->
            </section>
            <section class='notifications'>
              <a href="#">My Notifications</a>
            </section>
            <section class='message'><a href="#">Messages</a></section>
             <div class='signOutBlock'>  <button id='signOut'>Sign-Out</button></div>

          </div>
        </div>

      </div></li>
    </ul>
  </nav>
</header>
  <script src="./controllers/profile.js"></script>
  <script src='./assets/menu.js'></script>
